.analysis {
    position: relative;
    background-image: linear-gradient(to bottom, $mainGreen, #28332F);
}

.analysis-description {
    padding-top: 200px;
    height: 400px;
}

.knight-image-container {
    height: 320px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;

    @mixin atMedium{
        height: 380px;
    }

    p {
        background-color: #131010;
        display: inline;
        color: white;
        padding: 8px;
        position: absolute;
        font-weight: 800;
        font-size: 0.8rem;

        @mixin atMedium{
            font-size: 1rem;
        }
    }

    .fun {
        flex: 1;
        margin-top: 150px;

        @mixin atMedium {
            margin-top: 190px;
        }
    }

    .tactics {
        flex: 1;
        margin-top: 70px;

        @mixin atMedium {
            margin-top: 90px;
        }
    }

    .strategy {
        flex: 1;
    }

    .knight-label {
        display: block;
        background-color: #28332F;
        text-align: left;
    }

    .knight1 {
        rotate: 2rem;
        transform: rotate(20deg);
        width: 80px;
        margin-left: 20px;

        @mixin atMedium {
            width: 117px;
            margin-left:0;
        }
    }

    .knight2 {
        width: 100px;
        transform: rotate(-20deg);
        margin: 10px 0 0 22px;

        @mixin atMedium {
            width: 148px;
        }
    }

    .knight3 {
        width: 118px;
        transform: rotate(20deg);
        margin-left:20px;

        @mixin atMedium {
            width: 170px;
            margin-left:0;
        }
    }
}

.analysing-game {

    display: block;
    @mixin atMedium {
        display: flex;

    }

    &__important {
        background-color: $mainGrey;
        padding: 30px;
        border: solid 5px $mainBlack;
        margin-bottom: 20px;

        @mixin atMedium{
            flex: 2;
            margin-right: 20px;
            margin-bottom:0;
        }

        h2 {
            text-align: center;
            padding-bottom: 20px;
        }

        h4 {
            text-align: center;
            padding-bottom: 30px;
        }
    }

    &__mygame {
        background-color: $mainGrey;
        padding: 30px;
        border: solid 5px $mainBlack;

        @mixin atMedium{
            flex: 1;
            margin-left: 20px;
        }

        ol {
            padding-left: 20px;
        }

        h2 {
            text-align: center;
            padding-bottom: 60px;
        }

        a {
            text-decoration: underline;
            text-decoration-color: $mainGreen;
            display: block;
            padding-bottom: 15px;
            padding-left: 10px;
            line-height: 1.5;
        }
    }
}

.cbreplay {
    border: solid 5px $mainBlack;
}