.btn {

        border: none;
        color: #fbfbfb;
        font-weight: 100;
        font-size: 1.2rem;
        text-indent: 5px;
        cursor: pointer;
        border-radius: 5px;
        width: 160px;
        height: 50px;
        display: block;


        &__footer-button {

                width: 110px;
                height: 20px;
                font-size: 10px;
                margin: 10px auto 0 auto;
                padding: 0;
                border-bottom: 1px solid #605A56;
                background: linear-gradient(to bottom, #605A56 20%, #000000 80%);        }

        &__submit {
                background-color: $mainPurple;
                color: #fff;
                font-weight: 700;
                width: 120px;
                height: 30px;
                font-size: 1rem;

                @mixin atMedium{
                        width: 160px;
                        height: 50px;   
                        font-size: 1.3rem;
                }
        }
        
        &__submit:hover {
                background-color: #43161A;
        }       
}

.btn:hover {
        color: black;
}