.btn {
        width: 90px;
        height: 20px;
        background: linear-gradient(to bottom, #605A56 20%, #000000 80%);
        border: none;
        color: #fbfbfb;
        font-weight: 100;
        font-size: .4rem;
        text-indent: 5px;
        box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .2);
        cursor: pointer;


        @mixin atSmall {
                width: 120px;
                height: 25px;
                font-size: .6rem;
        }

        @mixin atMedium {
                width: 160px;
                height: 40px;
                font-size: 12px;
                font-weight: 600;
                display: block;

        }

        &__features-item--first {

                margin-left: 35%;

                @mixin atSmall {
                        margin-left: 5%;

                }

                @mixin atMedium {
                        margin-left: 40%;
                }
        }

        &__features-item--second {

                margin-left: 45%;
                display: block;

                @mixin atMedium {
                        margin-left: 40%;
                }
        }

        &__footer-button {

                width: 110px;
                margin-left: 10%;
                height: 20px;
                font-size: 10px;
                margin-top: 10px;
                padding: 0;
                border-bottom: 1px solid #605A56;

                @mixin atMedium {
                        height: 25px;
                        margin-left: 30%;
                }

                @mixin atLarge {
                        margin-left: 37%;
                }
        }

}

.btn:hover {
        background-color: #CF1A1A;
        color: black;
        border: none;
        border-left: solid 2px black;
}