.btn {
        width: 100px;
        height: 20px;
        background: linear-gradient(to bottom, #605A56 20%, #000000 80%);
        border-bottom: 2px solid #9C2E2C;
        border-top: 2px solid #333;
        border-right: 2px solid #333;


        color: #fbfbfb;
        font-weight: 100;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
        font-size: 8px;
        text-indent: 5px;
        box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .2);
        cursor: pointer;
<<<<<<< HEAD
=======

        @mixin atSmall {
                width: 120px;
                height: 30px;
                font-size: 10px;
        }

        @mixin atMedium {
                width: 160px;
                height: 40px;
                font-size: 12px;
                font-weight: 600;

        }

>>>>>>> contact

        &__features-item--first {

                margin-left: 35%;
                display: block;

                @mixin atMedium {
                        margin-left: 40%;
                        display: block;
                }

        }

        &__features-item--second {

                margin-left: 45%;
                display: block;

                @mixin atMedium {
                        margin-left: 40%;
                        display: block;
                }
        }

        &__footer-button {

                width: 80px;
                height: 20px;
                border-bottom: 1px solid #fff;
                font-size: 10px;
                margin-left: 16px;
                padding: 0;

                @mixin atLarge {
                        width: 100px;
                        height: 25px;
                        border-bottom: 2px solid #fff;
                        font-size: 10px;
                        margin: 0;
                }
        }

}

.btn:hover {
        background-color: #CF1A1A;
        color: black;
        border: none;
        border-left: solid 2px black;
}