
.container-width {
  border: solid 1px black;
  flex:1;
}

.container-width-second {
  height: 450px;
  padding: 0 20px;
  flex: 1;
  border: solid 1px black;
  width: 515px;
  vertical-align: text-top;
  text-align: left;
  line-height:1;  

  button {
    text-align: left;
    line-height:1;    
  }
}

#main-table {
  margin: 50px auto;
  background-color: $mainGrey;
  border: solid 5px $mainBlue;
  justify-content: center;
  text-align: center;
  display: flex;

  h3 {
    margin-bottom: 20px;
  }
}

#main-table span {
  line-height: 2;
  font-size: 0.8rem;
}

#moves {
  overflow: scroll;
  height: 450px;

  button {
    background-color: transparent;
    color: $mainGreen;
    padding: 5px;
    cursor: pointer;
    border: none;
  }

  /*

  .bold {
    font-weight: 800;
  }
  .color-border {
    background-color: transparent;
    color: $mainGreen;
    padding: 5px;
    cursor: pointer;
    border: none;
  }

  */
}

.navigation-container {
  color: black;
  font-size: 1.5rem;

  height: 50px;

  button {
    border: none;
    cursor: pointer;
  }
}

#pgn5 {
  background-color: red;
  color: black;
  font-size: 1.5rem;
}