.coaching {
    background-image: linear-gradient(to bottom, $mainBlue, #28332F);
    height: 50rem;
    position: relative;
}

h6 {
    position: relative;
    color: white;
    display: block;
    text-align: center;
    padding-top:20rem;
    font-size: 3rem;
}