.background-color-blue {
    background-image: linear-gradient(to bottom, $mainBlue, #28332F);
    position: relative;
    height: 500px;

    @mixin atMedium {
        height: 700px;
    }
}

.background-color-green {
    background-image: linear-gradient(to bottom, $mainGreen, #28332F);
    height: 500px;
    position: relative;

    @mixin atMedium {
        height: 700px;
    }
}


.coming-soon{
    h6 {
        color: white;
        display: block;
        text-align: center;
        padding-top:15rem;
        font-size: 2rem;

        @mixin atMedium{
            font-size: 3rem;
            padding-top:20rem;
        }
    }
}

