.col {
    padding: 0.5rem;
    float: left;

    &.x-50 {
        width: 50%;
    }

    &.x-100 {
        width: 100%;
    }
}

.contact-page {
    opacity: 90%;
    padding: 130px 0;
    background-image: url("assets/images/coaching-site.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @mixin atLarge {
        padding: 170px 0;
    }

}

.contact {

    display: flex;
    background-image: linear-gradient(90deg, $mainGrey 50%, $mainPurple 80%);
    padding: 0 40px;
    border-radius: 1%;
    border: 4px solid $mainPurple;


    &__section {
        padding: 1rem;
        height: 500px;
        flex: 3;


        &--title {
            text-align: center;
            font-size: 1.5rem;
            color: $mainBlack;
            margin: auto;

            @mixin atMedium {
                font-size: 2.2rem;
                padding-bottom: 1rem;

            }
        }


        .contact-form {

            &__field {
                position: relative;
                margin: 1rem 0;
                font-size: 1.2rem;

                #message {
                    height: 200px;
                }

                &--input-text {
                    width: 100%;
                    line-height: 26px;
                    font-weight: 600;
                    background-color: transparent;
                    border: solid 2px $mainPurple;
                    color: $mainBlack;
                    overflow-wrap: break-word;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    ul {
        list-style-type: none;
        flex: 1;
        margin:auto;
        text-align: center;


        &__social-icons {
            text-decoration: none;
            display: inline;

        }

        .fa.fa-facebook {
            color: #3b5998;
        }

        .fa.fa-twitch {
            color: #6441a5;
        }

        .fa.fa-instagram {
            color: transparent;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background-clip: text;
        }


        .fa {
            font-size: 0.8rem;
            text-decoration: none;
            padding: 20px;

            @mixin atSmall {
                font-size: 1rem;
            }

            @mixin atMedium {
                font-size: 3rem;
            }
        }
    }

}