.col {
    padding: 0.5rem;
    float: left;

    &.x-50 {
        width: 50%;
    }

    &.x-100 {
        width: 100%;
    }
}

.contact-page {
    background-image: url("assets/images/contact-image--medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    position: relative;
    height: 800px;
    padding-top: 200px;

}

.contact {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 280px;
    margin: auto;
    display: block;

    @mixin atSmall {
        max-width: 500px;
      }
  
      @mixin atMedium {
        max-width: 560px;
        height: 320px;
      }  

    &__title {
        padding: 10px;
        background-color: $mainGrey;

        @mixin atMedium{
            padding: 20px;

        }

        h1 {
            text-align: center;
            font-size: 1.5rem;
            color:$mainBlack;
            display: flex;
            justify-content: center;

            @mixin atMedium {
                font-size: 2.2rem;
            }
        }

        ul {
            list-style-type: none;
            margin: auto;
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 20px 0 0 0;

            &__social-icons {
                text-decoration: none;
            }

            .fa.fa-facebook {
                color: #3b5998;
            }

            .fa.fa-twitch {
                color: #6441a5;
            }

            .fa.fa-instagram {
                color: transparent;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                background-clip: text;
            }


            .fa {
                text-decoration: none;
                padding: 20px;
                display: inline;

                @mixin atMedium {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .contact-form-container {
        background-color: $mainGrey;
        padding: 20px 20px 0 20px;
        display: inline-block;

        .contact-form {

            &__field {
                position: relative;
                font-size: 1.2rem;
                padding:15px;

                #message {
                    height: 200px;
                    border: solid 2px $mainBlack;
                }

                &--input-text {
                    width: 100%;
                    line-height: 26px;
                    font-weight: 600;
                    background-color: transparent;
                    border:0;
                    border-bottom: solid 2px $mainBlack;
                    color: $mainBlack;
                    overflow-wrap: break-word;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

.message-me{
    text-align: center;
    color: $mainBlack;
}