.col {
    padding: 0.5rem;
    float: left;

    &.x-50 {
        width: 50%;
    }

    &.x-100 {
        width: 100%;
    }
}

.contact-page {
    padding: 140px 0;
    background-image: url("assets/images/coaching-site.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.contact {

    width: 80%;
    margin:auto;
    &__title {
        height: 140px;
        background-color: $mainPurple;
        padding: 20px;

        h1 {
            text-align: center;
            font-size: 1.5rem;
            color: $mainGrey;
            display: flex;
            justify-content: center;


            @mixin atMedium {
                font-size: 2.2rem;

            }
        }

        ul {
            list-style-type: none;
            margin: auto;
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 20px;


            &__social-icons {
                text-decoration: none;
            }

            .fa.fa-facebook {
                color: #3b5998;
            }

            .fa.fa-twitch {
                color: #6441a5;
            }

            .fa.fa-instagram {
                color: transparent;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                background-clip: text;
            }


            .fa {
                text-decoration: none;
                padding: 20px;
                display: inline;

                @mixin atMedium {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .contact-form-container {
        background-color: $mainGrey;
        height: 450px;
        padding: 20px;

        .contact-form {

            &__field {
                position: relative;
                margin: 1rem 0;
                font-size: 1.2rem;

                #message {
                    height: 200px;
                }

                &--input-text {
                    width: 100%;
                    line-height: 26px;
                    font-weight: 600;
                    background-color: transparent;
                    border: solid 2px $mainPurple;
                    color: $mainBlack;
                    overflow-wrap: break-word;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

}