#features {
    background-color: $mainGrey;
    margin: 0;
}

.features-right-aligned {
    padding-top: 5rem;
    padding-bottom: 5rem;

    @mixin atMedium {
        display: flex;
    }

    &__description {
        margin: 0 0 3rem 3rem;

        p {
            padding-top: 2rem;
            line-height: 1.8;
        }

        h2 {
            color: $mainPurple;
        }
    }
    &__image {
        margin: 1rem 0 1rem 3rem;
        height: auto;
    }
}

.features-left-aligned {


    &__description {
        margin: 1rem 3rem 1rem 0;

        @mixin atMedium {
            display: flex;
        }

        p {
            padding-top: 2rem;
            line-height: 1.8;
        }

        h2 {
            color: $mainGreen;
        }
    }
    &__image {
        margin: 1rem 0 1rem 3rem;
        height: auto;
    }
}

