.sponsor-section {

    &__image {

        max-width: 20%;
        margin-top: -80px;

        @mixin atMedium {
            max-width: 15%;
        }

        @mixin atLarge {
            max-width: 10%;
        }
    }
}

.footer {

    background-color: black;
    color: white;
    padding: 3rem 0;
    text-align: center;
    max-height: 350px;
    margin-bottom: -350px;

    &--inner {

        display: flex;

        &__section {

            flex: 1;

            &--icons {
                display: inline-block;
                padding: 15px 5px;

                .fa.fa-facebook {
                    color: #3b5998;
                }

                .fa.fa-twitch {
                    color: #6441a5;
                }

                .fa.fa-instagram {
                    color: transparent;
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                    background-clip: text;
                    -webkit-background-clip: text;                 }


                @mixin atLarge {
                    padding: 10px;
                    font-weight: bold;
                    font-size: 1.4rem;

                }
            }

            &--white {
                color: #fff;

            }

            &--title {
                font-size: 0.8rem;
                font-weight: 300;

                @mixin atLarge {
                    padding-right: 10rem;
                }
            }

            &--email {
                font-size: 0.6rem;
                padding: 15px 5px;
            }
        }
    }
}

.subscription-form {


    &__input {
        height: 1.2rem;
        width: 110px;
        margin-bottom: .5rem;

        @mixin atLarge {
            height: 1.5rem;
            margin-top: .5rem;
        }

    }
}