.sponsor-section {

    &__image {

        max-width: 15%;
        left: 50%;
        margin-bottom: 20px;

        @mixin atMedium {
            max-width: 10%;
        }
    }
}

#footer {

    background-color: black;
    color: white;
    padding: 4rem 0;
    text-align: center;
    height: 300px;
    margin-bottom: -300px;

    &--inner {

        display: flex;

        &__section {

            flex: 1;

            &--icons {
                display: inline-block;
                padding: 0 5px;
                font-size: 1.2rem;

                @mixin atMedium {
                    font-size: 2rem;
                }

                .fa.fa-facebook {
                    color: #3b5998;
                }

                .fa.fa-twitch {
                    color: #6441a5;
                }

                .fa.fa-instagram {
                    color: transparent;
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                    background-clip: text;
                }
            }

            &--white {       

                color: #fff;
            }

            &--title {
                font-size: .8rem;
                font-weight: 300;
                padding-bottom: 30px;

                @mixin atSmall {
                    font-size: 1rem;
                }

                @mixin atMedium {
                    font-size: 1.5rem;
                    padding-bottom: 20px;
                }
            }

            &--email {

                font-size: .6rem;

                @mixin atSmall {
                    font-size: .8rem;
                }

                @mixin atMedium {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.subscription-form {

    &__input {
        height: 1.2rem;
        width: 110px;

        @mixin atMedium {
            height: 1.4rem;
            margin-top: .2rem;
            width: 140px;
        }
    }
}