.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 6rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &--is-expanded {
        background-color: #000;
        height: 200px;

        @mixin atMedium {
            background-color: transparent;
        }
    }

    &__menu-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transition: all .3s ease-out;
        }

        &::after {
            content: "";
            position: absolute;
            top: 16px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        .header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }

    &__name {

        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        margin-left: 1rem;
        margin-top: 1rem;
        font-weight: 600;
        position: absolute;
        width: 3rem;

        @mixin atMedium {
            font-size: 1.4rem;
            margin-left: 3rem;
        }

        @mixin atLarge {

            margin-left: 7rem;
            margin-top: .5rem;
            font-size: 1.8rem;
        }

        &__black {
            color: $mainBlack;
        }
    }

    &__navbar {

        display: none;

        @mixin atMedium {
            display: block;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            transform: translateX(17%);
            text-align: center;
            transform: translateX(25%);

        }

        &--is-visible {
            display: block;
        }

        &-login {

            @mixin atLarge {
                margin-left: 7rem !important;

            }
        }

        &-title {
            list-style: none;
            display: inline-block;
            padding-right: 0;
            padding-left: 0;
            margin-top: 1.5rem;
            margin-left: 5rem;
            margin-right: 5rem;
            color: #fff;


            @mixin atSmall {
                font-weight: 100;
                padding-right: 7px;
                float: left;
                margin-right: 0;
                padding-left: 7px;
                margin-top: 2rem;
                margin-left: 0;
            }

            @mixin atMedium {
                font-weight: 200;
                padding-right: 10px;
                padding-left: 10px;
            }

            @mixin atLarge {
                list-style: none;
                padding-right: 15px;
                padding-left: 15px;
                margin-left: .5rem;
            }      
            
            a{
                color:#fff;
            }


            a::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: #fff;
                transition: width .3s;
                margin-top: 5px;
            }

            a:hover::after {
                width: 100%;
                transition: width .3s;
            }

        }

        &-title__black {
            list-style: none;
            display: inline-block;
            padding-right: 0;
            padding-left: 0;
            margin-top: 1.5rem;
            margin-left: 5rem;
            margin-right: 5rem;
            color: $mainBlack;


            @mixin atSmall {
                font-weight: 100;
                padding-right: 7px;
                float: left;
                margin-right: 0;
                padding-left: 7px;
                margin-top: 2rem;
                margin-left: 0;
            }

            @mixin atMedium {
                font-weight: 200;
                padding-right: 10px;
                padding-left: 10px;
            }

            @mixin atLarge {
                list-style: none;
                padding-right: 15px;
                padding-left: 15px;
                margin-left: .5rem;
            }

            a {
                color:$mainBlack;
            }        

            a::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: white;
                transition: width .3s;
                margin-top: 5px;
            }

            a:hover::after {
                width: 100%;
                transition: width .3s;
            }
        }
        
        ul {
            padding: 0;
            margin: 0;
        }

        li {
            list-style-type: none;
        }

    }

    .header-background {
        display: block;
    }

}