.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 4.8rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #131010;
    box-shadow: 1px 1px 5px #131010;

    &__menu-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transition: all .3s ease-out;
        }

        &::after {
            content: "";
            position: absolute;
            top: 16px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        .header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }

    &__name {

        color: #fff;
        text-decoration: none;
        font-size: 1.3rem;
        margin-left: 1rem;
        margin-top: 0.7rem;
        font-weight: 600;
        position: absolute;
        width: 3rem;

        @mixin atMedium {
            font-size: 1.5rem;
            margin-left: 3rem;
        }

        @mixin atLarge {
            margin-left: 7rem;
        }

    }

    .header-navbar {

        display: none;
        text-align: center;
        margin: 0 auto;
        background-color: #131010;
        padding-top: 10px;

        @mixin atMedium {
            display: block;
            margin: 0;
            width: 100%;
            transform: translateX(17%);
            text-align: center;
            transform: translateX(25%);
            background-color: transparent;
            padding-top: 0;
        }

        &__image {
            margin: 0;
            text-align: center;

            @mixin atMedium {
                margin-left: 5rem;
                margin-top: -0.3rem;
            }
        }

        &--is-visible {
            display: block;
        }

        &__title {

            padding: 5px 10px;

            &--is-expanded {
                background-color: #131010;
            }

            @mixin atMedium {
                padding: 15px;
                list-style: none;
                display: inline-block;
                padding: 0;
                float: left;
                padding: 0 7px;
                margin: 2rem 0 0 0;

            }

            @mixin atLarge {
                list-style: none;
                margin-left: .5rem;
            }

            .no-decoration::after {
                background: #131010;
            }

            a {
                color: #fff;
            }

            a::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: #fff;
                transition: width .3s;
                margin-top: 5px;
            }

            a:hover::after {
                width: 100%;
                transition: width .3s;
                display: none;

                @mixin atMedium {
                    display: block;
                }
            }
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
    }
}

.sub-navbar {
    display: none;
    text-align: center;
}

.navbar-hover:hover .sub-navbar {

    display: none;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 10px;

    @mixin atMedium {
        display: inline-block;
        background-color: black;
        padding: 5px 15px;
    }
}

.navbar-hover:hover .sub-navbar li {
    text-align: center;
    line-height: 30px;
    display: block;
}

.dropdown-header {
    font-size: 10px;
    font-weight: 600;
    display: inline;
    padding: 0;
}
