.aboutme {
    background-color: $mainGrey;
    padding-top: 6rem;
    color: black;


    .aboutme-container {

        display: flex;
        

        &__description {
            flex: 2;
            margin: 3rem 3rem 0 0;
            line-height: 1.8;   
                  

            &__introduction {
                border: solid 2px $mainPurple;
                padding: 2rem 3rem;
                margin: 3rem 0;
                background-color: rgba(255,255,255, 0.4);
            }

            &__titles {
                list-style-type: none;
                justify-content: center;
                text-align: center;
                line-height: 2.5;

                hr {
                    margin: 2rem auto;
                    width: 50%;
                }
            }
        }

        p:first-letter {
            padding-left: 20px;
        }

        &__image {

            flex: 1;
            margin: 3rem 0 3rem 3rem;
            border: solid 10px $mainPurple;
            background-color: $mainPurple;
            height: 100%;


            img {

                padding: 1rem;
            }
            
        }

    }
}

