.tournaments-section {
    background-color: $mainGrey;
}

.upcoming-events {

    padding-top: 13rem;


    &__title {
        font-size: 1.5rem;
        display: inline;

        @mixin atMedium {
            font-size: 2rem;
        }

        &--underline {
            display: inline;
            font-size: 1.5rem;
            border-bottom: 1px solid #000;
            padding-bottom: .6rem;

            @mixin atMedium {
                font-size: 2rem;
            }
        }
    }

    &__list {
        list-style: none;
        border: solid 50px black;
        margin-top: 4rem;

        img {
            width: 15px;
        }

        li {
            padding: 1rem 0;
            margin-left: 1rem;
        }
    }
}

.past-events {

    padding: 7rem 0;


    &__title {
        font-size: 1.5rem;
        display: inline;

        @mixin atMedium {
            font-size: 2rem;
        }

        &--underline {
            display: inline;
            font-size: 1.5rem;
            border-bottom: 1px solid $mainBlack;
            padding-bottom: .6rem;

            @mixin atMedium {
                font-size: 2rem;
            }
        }
    }

    &__list {
        list-style: none;
        border: solid 50px $mainPurple;
        margin-top: 4rem;
        

        img {
            width: 15px;
        }

        li {
            padding: 1rem 0;
            margin-left: 1rem;
        }
    }

    span {
        padding-left: 2rem;
    }
}