#video-section {
    background-color: $mainBlue;
    display: flex;
    justify-content: center;
    position: relative;
}

.video-container {
    margin: 40px auto;
    text-align: center;

    h2 {
        margin-bottom: 2rem;
        text-align: center;
    }
    #youtube-video {
        width: 350px;
        height: 250px;

        @mixin atLarge{
            width: 550px;
            height: 350px;
        }
      
    }
}