.wrapper {
    padding-left: 18px;
    padding-right: 18px;

    @mixin atSmall {
        padding-left: 50px;
        padding-right: 50px;  
    }

    @mixin atMedium {
        padding-left: 100px;
        padding-right: 100px;    
    }
    

    @mixin atLarge {
        padding-left: 180px;
        padding-right: 180px;        
    }
}