.wrapper {
    padding-left: 18px;
    padding-right: 18px;

    @mixin atMedium {
        padding-left: 100px;
        padding-right: 100px;    
    }
    

    @mixin atLarge {
        padding-left: 200px;
        padding-right: 200px;
        
    }
}